# Bağımlılıklar
node_modules/

# Vercel CLI
.vercel/

# Electron derleme çıktısı
dist/
build/

# Ortam değişkenleri
.env
.env.local

# Editör / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Loglar
*.log
npm-debug.log*

# Local Netlify folder
.netlify
